<div class="bottom-bar no-print">
  <div class="bottom-bar__content">
    <div class="bottom-bar__text">
      <a href="https://drive.google.com/file/d/1tYtL9v-fwCGO9qjfTphhm03Ah-xpoLNP/view?usp=sharing" >
        PDF version available here 
        
      <iframe src="https://drive.google.com/file/d/1tYtL9v-fwCGO9qjfTphhm03Ah-xpoLNP/preview" width="640" height="480" allow="autoplay"></iframe>  
      </a>
    </div>
    <button class="bottom-bar__close" type="button">&times;</button>
  </div>
</div>
