<div class="bottom-bar no-print">
  <div class="bottom-bar__content">
    <div class="bottom-bar__text">
      <a href="https://drive.google.com/file/d/1tYtL9v-fwCGO9qjfTphhm03Ah-xpoLNP/view?usp=sharing" >
        PDF version available here
        
       <iframe src="http://docs.google.com/gview?url=https://drive.google.com/drive/u/1/folders/1_KyU8XR9H-8cmWbfBFJdueqIfaZqKGIq&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
      </a>
    </div>
    <button class="bottom-bar__close" type="button">&times;</button>
  </div>
</div>
